/*            */
/* Arc styles */
/*            */
.arc-norm {
    -fx-fill: null;
    -fx-stroke: orange;
    -fx-stroke-width: 2px;
}
.arc-norm:hovered {
    -fx-stroke: orange;
    -fx-stroke-width: 3px;
}
.arc-norm:selected {
    -fx-stroke: red;
    -fx-stroke-width: 3px;
}
.arc-norm:highlighted {
}

.arc-norm-head {
    -fx-fill: null;
    -fx-stroke: orange;
    -fx-stroke-width: 2px;
}
.arc-norm-head:hovered {
    -fx-stroke: orange;
    -fx-stroke-width: 3px;
}
.arc-norm-head:selected {
    -fx-stroke: red;
    -fx-stroke-width: 3px;
}
.arc-norm-head:highlighted {
}


.arc-inhi {
    -fx-fill: white;
    -fx-stroke: grey;
    -fx-stroke-width: 2px;
}
.arc-inhi:hovered {
    -fx-stroke: orange;
    -fx-stroke-width: 3px;
}
.arc-inhi:selected {
    -fx-stroke: red;
    -fx-stroke-width: 3px;
}
.arc-inhi:highlighted {
}


.arc-test {
    -fx-fill: null;
    -fx-stroke: orange;
    -fx-stroke-dash-array: 2px 6px;
    -fx-stroke-width: 2px;
}
.arc-test:hovered {
    -fx-stroke: purple;
    -fx-stroke-width: 3px;
}
.arc-test:selected {
    -fx-stroke: red;
    -fx-stroke-width: 3px;
}
.arc-test:highlighted {
}

/*               */
/* Cluster style */
/*               */
.cluster {
    -fx-fill: yellowgreen;
    -fx-stroke: forestgreen;
    -fx-stroke-width: 1px;
    -fx-stroke-type: outside;
}
.cluster:hovered {
    -fx-stroke: forestgreen;
    -fx-stroke-width: 2px;
}
.cluster:selected {
    -fx-stroke: darkgreen;
    -fx-stroke-width: 2px;
}
.cluster:highlighted {
    -fx-stroke: darkgreen;
    -fx-stroke-width: 2px;
    -fx-stroke-dash-array: 1px 8px;
}

/*              */
/* Place styles */
/*              */
.place {
    -fx-fill: yellowgreen;
    -fx-stroke: forestgreen;
    -fx-stroke-width: 1px;
    -fx-stroke-type: outside;
}
.place:hovered {
    -fx-stroke: forestgreen;
    -fx-stroke-width: 2px;
}
.place:selected {
    -fx-stroke: darkgreen;
    -fx-stroke-width: 2px;
}
.place:highlighted {
    -fx-stroke: darkgreen;
    -fx-stroke-width: 2px;
    -fx-stroke-dash-array: 1px 8px;
}

/*                   */
/* Transition styles */
/*                   */
.transition {
    -fx-fill: lightblue;
    -fx-stroke: blue;
    -fx-stroke-width: 1px;
    -fx-stroke-type: outside;
}
.transition:hovered {
    -fx-stroke: blue;
    -fx-stroke-width: 2px;
}
.transition:selected {
    -fx-stroke: darkblue;
    -fx-stroke-width: 2px;
}
.transition:highlighted {
    -fx-stroke: darkblue;
    -fx-stroke-width: 2px;
    -fx-stroke-dash-array: 1px 4px;
}



.transitionStochastic {
    -fx-fill: blue;
    -fx-stroke: black;
    -fx-stroke-width: 1px;
    -fx-stroke-type: outside;
}
.transitionStochastic:hovered {
    -fx-stroke: black;
    -fx-stroke-width: 2px;
}
.transitionStochastic:selected {
    -fx-stroke: black;
    -fx-stroke-width: 3px;
}
.transitionStochastic:highlighted {
    -fx-stroke: black;
    -fx-stroke-width: 3px;
    -fx-stroke-dash-array: 1px 8px;
}