/* Default Arc Style */
.arc {
    -fx-fill: null;
    -fx-stroke: orange;
    -fx-stroke-width: 2px;
}
.arc:hovered {
    -fx-stroke: orange;
    -fx-stroke-width: 3px;
}
.arc:selected {
    -fx-stroke: red;
    -fx-stroke-width: 3px;
}
.arc-head {
    -fx-fill: orange;
    -fx-stroke: orange;
    -fx-stroke-width: 2px;
}
.arc-head:hovered {
    -fx-stroke-width: 3px;
}
.arc-head:selected {
    -fx-fill: red;
    -fx-stroke: red;
    -fx-stroke-width: 3px;
}
/*.arc:highlighted {}*/

/* Inhibitory Arc Style */
.arc-inhi {
    -fx-fill: white;
    -fx-stroke: orange;
    -fx-stroke-width: 2px;
}
.arc-inhi:hovered {
    -fx-stroke-width: 3px;
}
.arc-inhi:selected {
    -fx-stroke: red;
    -fx-stroke-width: 3px;
}
.arc-inhi-head {
    -fx-fill: white;
    -fx-stroke: orange;
    -fx-stroke-width: 2px;
}
.arc-inhi-head:hovered {
    -fx-stroke-width: 3px;
}
.arc-inhi-head:selected {
    -fx-stroke: red;
    -fx-stroke-width: 3px;
}

/* Test Arc Style */
.arc-test {
    -fx-fill: null;
    -fx-stroke: orange;
    -fx-stroke-dash-array: 2px 4px;
    -fx-stroke-width: 2px;
}
.arc-test:hovered {
    -fx-stroke-width: 3px;
}
.arc-test:selected {
    -fx-stroke: red;
    -fx-stroke-width: 3px;
}
.arc-test-head {
    -fx-fill: orange;
    -fx-stroke: orange;
    -fx-stroke-width: 2px;
}
.arc-test-head:hovered {
    -fx-stroke-width: 3px;
}
.arc-test-head:selected {
    -fx-stroke: red;
    -fx-stroke-width: 3px;
}

/* Default Cluster Style */
.cluster {
    -fx-fill: yellowgreen;
    -fx-stroke: forestgreen;
    -fx-stroke-width: 1px;
    -fx-stroke-type: outside;
}
.cluster:hovered {
    -fx-stroke: forestgreen;
    -fx-stroke-width: 2px;
}
.cluster:selected {
    -fx-stroke: darkgreen;
    -fx-stroke-width: 2px;
}
.cluster:highlighted {
    -fx-stroke: darkgreen;
    -fx-stroke-width: 2px;
    -fx-stroke-dash-array: 1px 8px;
}

/* Default Place Style */
.place {
    -fx-fill: yellowgreen;
    -fx-stroke: forestgreen;
    -fx-stroke-width: 1px;
    -fx-stroke-type: outside;
}
.place:hovered {
    -fx-stroke: forestgreen;
    -fx-stroke-width: 2px;
}
.place:selected {
    -fx-stroke: darkgreen;
    -fx-stroke-width: 2px;
}
.place:highlighted {
    -fx-stroke: darkgreen;
    -fx-stroke-width: 2px;
    -fx-stroke-dash-array: 1px 8px;
}

/* Transition Style */
.transition {
    -fx-fill: lightblue;
    -fx-stroke: blue;
    -fx-stroke-width: 1px;
    -fx-stroke-type: outside;
}
.transition:hovered {
    -fx-stroke: blue;
    -fx-stroke-width: 2px;
}
.transition:selected {
    -fx-stroke: darkblue;
    -fx-stroke-width: 2px;
}
.transition:highlighted {
    -fx-stroke: darkblue;
    -fx-stroke-width: 2px;
    -fx-stroke-dash-array: 1px 4px;
}

.transitionStochastic {
    -fx-fill: blue;
    -fx-stroke: black;
    -fx-stroke-width: 1px;
    -fx-stroke-type: outside;
}
.transitionStochastic:hovered {
    -fx-stroke: black;
    -fx-stroke-width: 2px;
}
.transitionStochastic:selected {
    -fx-stroke: black;
    -fx-stroke-width: 3px;
}
.transitionStochastic:highlighted {
    -fx-stroke: black;
    -fx-stroke-width: 3px;
    -fx-stroke-dash-array: 1px 8px;
}