.button {
    -fx-font-weight: bold;
    -fx-border-color: steelblue;
    -fx-border-width: 2;
    -fx-border-style: dashed;
}

.editorPane {
    -fx-background-color: whitesmoke;
    -fx-border-color: black;
    -fx-border-width: 1;
}
